<!DOCTYPE html>
<html>
  <head>
    <title>Spice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="spice" />
    <meta property='og:image' content="<%= image_url('spicess.png') %>"/>
    <meta property="og:description"
      content="Spice is a clone of Yelp, where users can search for restaurants by type and location, as well as leave reviews. Spice is built with a React/Redux/JavaScript frontend and a Ruby on Rails backend."
    />
    <meta property="og:url"
      content="http://projectname.herokuapp.com/"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
